- backgrounded ||= true
- employers ||= false
- partners ||= false

- if employers

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});": ""}
    .container
      .centered-row
        .column
          %h1 Hire Now
          %p It costs nothing, until you find the right person.
      .button-row
        %p
          = link_to "Need something special?", "payment.html", class: "button button--horizontal"
          = link_to "Hire Developers", "https://makersacademy.typeform.com/to/sz8vTw", class: "button button--vertical button--large"
          = link_to "Have more questions?", "about-us.html", class: "button button--horizontal"

- elsif partners

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});": ""}
    .container
      .centered-row
        .column
          %h1 Apply Now
          %p The full 16-week programme costs £8,000. We run cohorts every 6 weeks, and applications are highly competitive. We offer numerous payment options.
      .button-row
        %p
          = link_to "Payment Options", "payment.html", class: "button button--horizontal"
          = link_to "Apply", "http://www.makersacademy.com/apply", class: "button button--vertical button--large"
          = link_to "Hire Graduates", "employers.html", class: "button button--horizontal"

- else

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});": ""}
    .container
      .centered-row
        .column
          %h1 Apply Now
          %p The full 16-week programme costs £8,000. We run cohorts every 6 weeks, and applications are highly competitive. We offer numerous payment options.
      .button-row
        %p
          = link_to "Payment Options", "payment.html", class: "button button--horizontal"
          = link_to "Apply", "http://www.makersacademy.com/apply", class: "button button--vertical button--large"
          - if current_page.url == "/about-us/"
            = link_to "See our curriculum", "curriculum.html", class: "button button--horizontal"
          - else
            = link_to "Learn More", "about-us.html", class: "button button--horizontal"
