- backgrounded ||= true
- page ||= :default

- if page == :employers

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});": ""}
    .container
      .centered-row
        .column
          %h2 Join Us
          %p It costs nothing, until you find the right person.
      .button-row
        %p
          = link_to "Have Hiring Questions?", "http://bit.ly/meetWB", class: "button button--horizontal"
          = link_to "Hire Developers", "/employers/contact.html", class: "employers-button button button--vertical button--large", target: "_blank"
          = link_to "Apply to Study", config.apply_form_url, class: "button button--horizontal"
- else

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path("backgrounds/postit-wall.jpg")});": ""}
    .container
      .centered-row
        .column
          %h2 Apply Now
          %p The full 16-week programme costs £8,000 but is free to the winner of the ThoughtWorks Scholarship. Scholars will need to commit full-time to the course from either 15th August 2016 or 26th September 2016.
      .button-row
        %p
          - if page == :payment
            = link_to "See our Graduates", "/graduates.html", class: "button button--horizontal"
          - else
            = link_to "Payment Options", "/payment.html", class: "button button--horizontal"

            = link_to "Apply", config.apply_form_url, class: "button button--vertical button--large apply-button", data: {track: "Clicked Apply Page Button"}

          - if page == :about_us
            = link_to "See our Curriculum", "/curriculum.html", class: "button button--horizontal"
          - else
            = link_to "Learn More", "/about-us.html", class: "button button--horizontal"
      .centered-row
        .column
          %p
            Want to sponsor a place? Get in touch: arfah@makersacademy.com
