%footer{role: "contentinfo"}
  .container
    .footer-links
      %ul.column
        %li
          %h3 Follow Us
        %li
          = link_to "GitHub", "http://www.github.com/makersacademy", target: "_blank"
        %li
          = link_to "Facebook", "http://www.facebook.com/MakersAcademy", target: "_blank"
        %li
          = link_to "Twitter", "http://twitter.com/makersacademy", target: "_blank"
        %li
          = link_to "YouTube", "https://www.youtube.com/user/makersacademy", target: "_blank"
        %li
          = link_to "Blog", "http://blog.makersacademy.com/", target: "_blank"
      %ul.column
        %li
          %h3 Reviews
        %li
          = link_to "Switchup", "https://www.switchup.org/bootcamps/makers-academy", target: "_blank"
        %li
          = link_to "Quora", "https://www.quora.com/makers-academy", target: "_blank"
        %li
          = link_to "Course Report", "https://www.coursereport.com/schools/makers-academy#/reviews", target: "_blank"
      %ul.column
        %li
          %h3 Contact Us
        %li
          %address.vcard
            %span.email
              = link_to "contact@makersacademy.com", "mailto:contact@makersacademy.com"
            .adr
              %p
                %span.org.fn Makers Academy
                %span.street-address 50-52 Commercial St
                %br
                %span.locality London
                %span.postal-code E1 6LT
                %br
                %span.country-name United Kingdom
                %br
            .tel
              = link_to "+44 (0)203 817 8870", "tel:02038178870"
      %ul.column
        %li
          %h3 Legal
        %li
          = link_to "Code of Conduct", "/code-of-conduct.html"
        %li
          = link_to "Onsite Terms and Conditions", "/terms.html"
        %li
          = link_to "Remote Terms and Conditions", "/remote-terms.html"
        %li
          = link_to "Privacy Policy", "/privacy.html"
    .footer-logos
      .footer-logo
        / This image must stay as long as we want free Mixpanel
        %a{href: "https://mixpanel.com/f/partner"}
          %img{alt: "Mobile Analytics", src: "//cdn.mxpnl.com/site_media/images/partner/badge_blue.png"}/
    .footer-copyright
      = image_tag "logo/ma-white.png", class: "logo"
      %p
        = "&copy; Makers Academy #{Time.now.year}"
