%section.full-slider.no-padding
  .slider
    - data.graduates.each do | grad |
      .slide
        .container
          .profile-row
            .image.show-desktop
              = image_tag("graduates/#{grad[:image]}")
            .copy
              %h2= "#{grad[:first_name]} #{grad[:last_name]}"
              %h4.subheader= grad[:summary]
              %blockquote= grad[:testimonial]
              .button-row.shift-to-bottom
                %p
                  - if grad[:case_study_page]
                    = link_to "Read #{possessivize(grad[:first_name])} story", "/case-studies/#{grad[:case_study_page]}", class: "button--horizontal"
                  - elsif grad[:case_study_link]
                    = link_to "Read #{possessivize(grad[:first_name])} story", grad[:case_study_link], class: "button--horizontal", target: "_blank"
                  - if grad[:blog_link]
                    = link_to "Visit #{possessivize(grad[:first_name])} blog", grad[:blog_link], class: "button--horizontal", target: "_blank"
            .image.hide-desktop.no-padding
              = image_tag("graduates/#{grad[:image]}")
