%section.hero-splash
  .container
    .centered-row
      %h1 300+ companies
      %h4.subheader have hired our developers
      .five-width-row
        .column
          = image_tag "hiring-partners/new-bamboo.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Workshare.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Qubit.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/legal-and-general.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/zopa.png", class:"image--medium"
      .five-width-row.small-padding-top
        .column
          = image_tag "hiring-partners/Lyst.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Springer.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/cloud-credo.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/8th-light.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Factory.png", class:"image--medium"
      .button-row.small-padding-top
        = link_to "Start Hiring", "/employers/contact.html", class: "button button--horizontal"
