%section.hero{style: "background-image: url(#{image_path("backgrounds/row-of-girls.jpg")});"}
  .container
    .centered-row
      %h4.leader Meet
      %h2 Our hiring partners
      %p We’ve graduated over #{stats.number_of_graduates} beginners into their dream jobs as Junior Developers. Some were looking for a career change, others to bring their ideas to life.
    .three-width-row
      .column
        .image--centered
          = link_to(image_tag("hiring-partners/ThoughtWorks.png"), "/tw")
        .image--centered
          = link_to(image_tag("hiring-partners/merger-market.png"), "/merger-market")
      .column
        = link_to "Learn about Partners", "/employers.html", class: "button button--horizontal"
      .column
        .image--centered
          = link_to(image_tag("hiring-partners/Deloitte-Digital.png"), "/deloitte")
        .image--centered
          = link_to(image_tag("hiring-partners/FT.png"), "/financial-times")
