%header{class: "mobile-navigation", role: "banner"}
  %label{role: "menu-trigger", for: "nav_trigger", class: "nav-trigger-label"}
  %input{type: "checkbox", id: "nav_trigger", class: "nav-trigger"}
  %nav{role: "navigation"}
    .image--centered.image--small
      = image_tag "logo/ma-white.png"
    %ul.navigation-menu
      %li{ class: current_if_current_page(current_page, "/") }
        = link_to "Home", "/"
      %li{ class: current_if_current_page(current_page, "/graduates/") }
        = link_to "Graduates", "/graduates.html"
      %li{ class: current_if_current_page(current_page, "/employers/") }
        = link_to "Employers", "/employers.html"
      %li{ class: current_if_current_page(current_page, "/curriculum/") }
        = link_to "Curriculum", "/curriculum.html"
      %li{ class: current_if_current_page(current_page, "/about-us/") }
        = link_to "About Us", "/about-us.html"

%header{class: "navigation auto-hide", role: "banner"}
  %nav{role: "navigation"}
    = link_to image_tag("logo/ma-wordmark-red.png"), "/", class: "image--brand"
    %ul.navigation-menu
      %li{ class: current_if_current_page(current_page, "/graduates/") }
        = link_to "Graduates", "/graduates.html"
      %li{ class: current_if_current_page(current_page, "/employers/") }
        = link_to "Employers", "/employers.html"
      %li{ class: current_if_current_page(current_page, "/curriculum/") }
        = link_to "Curriculum", "/curriculum.html"
      %li{ class: current_if_current_page(current_page, "/about-us/") }
        = link_to "About Us", "/about-us.html"
      - if current_page.url.include?("/employers")
        %li
          = link_to "Hire", "/employers/contact.html", class: "button button--vertical employers-button", data: {track: "Viewed Employers Enquiry Form"}
      - else
        %li
          = link_to "Apply", config.apply_url, class: "button button--vertical apply-button", data: {track: "Clicked Apply Page Button"}
