.slider
  - data.graduates.each do |grad|
    .slider-content
      %figure.with-caption
        .image--centered
          = image_tag "graduates/#{grad[:image]}"
        %figcaption
          %p= "#{grad[:first_name]} #{grad[:last_name]}"
          %p= grad[:summary]
          %p= grad[:cohort]
