%section
  .container
    .centered-row
      %h2 Find out more
    .definition-row
      %aside#definition-top
        %nav.definition-links
          - data.qardhasan.each_with_index do |section, index|
            %a.definition-link{href: "#definition-#{index}"}= section[:title]
      %article
        - data.qardhasan.each_with_index do |section, index|
          .category
            %h4{id: "definition-#{index}"}= section[:title]
            %dl.definition{id: slug(section[:title])}
              - if section[:faqs]
                - section[:faqs].each do |faq|
                  %dt= faq[:question]
                  %dd
                    %p= faq[:answer]
              - else
                %dt= section[:summary]
                %dd
                  %p= section[:blurb]
