%section
  .container
    .half-slider-row
      .copy
        = lorem.sentences(4)
      .slider
        .slider-content
          %figure.with-caption
            .image
              = image_tag "graduates/paul-smith.png"
            %figcaption
              %p= lorem.words(2)
              %p= lorem.words(2)
              %p= lorem.words(2)
        .slider-content
          %figure.with-caption
            .image
              = image_tag "graduates/paul-smith.png"
            %figcaption
              %p= lorem.words(2)
              %p= lorem.words(2)
              %p= lorem.words(2)