%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Meet our hiring partners
      %p We’ve graduated over 300 beginners into their dream jobs as junior developers. Some were looking for a career change, others to define themselves.
    .three-width-row
      .column
        = image_tag "hiring-partners/ctm-logo.png"
        = image_tag "hiring-partners/deloitte-logo.png"
      .column
        %a.button--alt See more partners
      .column
        = image_tag "hiring-partners/springer-logo.png"
        = image_tag "hiring-partners/thoughtworks-logo.png"