%section
  .centered-row
    %h2 Biggest
    %h4.subheader Whole sections
  .definition-row
    %aside#definition-top
      %nav.definition-links
        %a.definition-link{href: "#definition-hero-splash"} Hero Splash
        %a.definition-link{href: "#definition-hero"} Hero
        %a.definition-link{href: "#definition-slider"} Slider
        %a.definition-link{href: "#definition-half-slider"} Half Slider
        %a.definition-link{href: "#definition-article"} Article
        %a.definition-link{href: "#definition-two-up-video"} Two-up Video
    %article
      .category
        %h4 Hero Splash
        %dl.definition{id: "definition-hero-splash"}
          %dt Large, backgrounded content for page headers
          %dd= partial :"elements/biggest/hero_splash"
      .category
        %h4 Hero
        %dl.definition{id: "definition-hero"}
          %dt Large, backgrounded content. Can be anywhere
          %dd= partial :"elements/biggest/hero"
      .category
        %h4 Slider
        %dl.definition{id: "definition-slider"}
          %dt Repeated similar content
          %dd= partial :"elements/biggest/slider"
      .category
        %h4 Half Slider
        %dl.definition{id: "definition-half-slider"}
          %dt ???
          %dd= partial :"elements/biggest/half_slider"
      .category
        %h4 Article
        %dl.definition{id: "definition-article"}
          %dt Extended text stuff
          %dd= partial :"elements/biggest/article"
      .category
        %h4 Two-up Video
        %dl.definition{id: "definition-article"}
          %dt Responsive Videos. Note the wrapper.
          %dd= partial :"elements/biggest/two_up_video"