/ Case Study Template

%section.no-padding-bottom
  .container
    .profile-row
      .image.show-desktop
        = image_tag("graduates/#{grad[:image]}")
      .copy
        %h4.leader Case Study
        %h1= "#{grad[:first_name]} #{grad[:last_name]}"
        %h4.subheader= grad[:summary]
        %blockquote= grad[:testimonial]
        - next_grad = next_graduate(grad)
        .image.hide-desktop.no-padding
          = image_tag("graduates/#{grad[:image]}")
%hr

%section.no-padding-top
  .article--centered
    %article
      %dl
        - grad[:case_study].each do | qa |
          %dt= qa[:question]
          %dd= markdown qa[:answer]
    .button-row
      = link_to "Next Story", "/case-studies/#{graduate_slug(next_grad)}", class: "button button--horizontal"

= partial :"apply"

