- description "Hire the top junior developers from Makers Academy."
- title "Employers"
- @hide_from_google = true

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader Hire brilliant
      %h1 junior developers
      %p 30 candidates every 6 weeks
      .three-width-row
        .column
          .image--centered
            = image_tag "hiring-partners/MS-labs.png"
          .image--centered
            = image_tag "hiring-partners/compare-the-market.png"
        .column
          = link_to "Start Hiring", "/employers/contact.html", class: "button button--horizontal"
        .column
          = image_tag "hiring-partners/Deloitte-Digital.png"
          = image_tag "hiring-partners/Sky.png"

%section
  .container
    .centered-row
      %h2 Recruitment is hard
      %h4.subheader we do the work for you
    .three-width-row
      .column
        %h3 We Select
        %p You have to be amazing to study at Makers Academy. We have a tough selection process, that tests for determination and technical aptitude, and accepts less than 10% of applicants. We find exceptional people for you, and then train them.
      .column
        %h3 We Train
        %p Our students spend 10-14 hours a day, 5-7 days a week, learning to be developers. Their code is clean, maintainable and extendable. They're advocates of TDD, pair programming, SOLID and Agile principles. They've learned to build software in teams.
      .column
        %h3 We Match
        %p You get a shortlist of candidates matched (by our engineers) to your needs, based on the in-depth knowledge we have about their commercial background, technical ability, motivations and characteristics - we've spent three months with them.

%section.backgrounded
  .container
    .centered-row
      %h2 How will it work for you?
    .three-width-row
      .column
        %h3 1. Post a Job
        %p Complete our job description, which is tailored to the specific needs of the Makers Academy talent pool. We'll use it to create your shortlist.
      .column
        %h3 2. Meet
        %p Once we've done our matching, you can follow your usual process, whether that's a tech test, a pairing interivew or drinks at your place.
      .column
        %h3 3. Hire
        %p Most of our candidates get multiple offers and are hired within a few weeks of graduating. Make an attractive offer and secure the top talent.

%section.half-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h3 Who they are
          %p Makers Academy developers are passionate, driven, curious and engaging.
          %p They solve their own problems, are exceptionally fast and effective learners, and understand the business context beyond the code.
          %p The majority of our graduates have been successful in another industry, including law, marketing, banking, design, and many more: that's experience they'll bring to your company.
      .column
        = partial :"preview_graduates"

%section.backgrounded
  .container
    .four-width-row.row-with-borders
      .column
        %h2.statistic £30k
        %h4.subheader Average Salary
      .column
        %h2.statistic 28
        %h4.subheader Average Age
      .column
        %h2.statistic 35%
        %h4.subheader Female Engineers
      .column
        %h2.statistic 800+
        %h4.subheader hours of coding


= partial :"employer_testimonials"


%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h2 300+ companies have hired our developers
      .three-width-row
        .column
          .image--centered
            = image_tag "hiring-partners/ThoughtWorks.png"
          .image--centered
            = image_tag "hiring-partners/pivotal-labs.png"
            = image_tag "hiring-partners/TechStars.png"
        .column
          = link_to "Start Hiring", "/employers/contact.html", class: "button button--horizontal"
        .column
          = image_tag "hiring-partners/Shutl.png"
          = image_tag "hiring-partners/just-giving.png"
          = image_tag "hiring-partners/Qubit.png"

%section
  .container
    .three-width-row
      .column
        %h4 How much will it cost me to hire?
        %p Your first pair of junior software engineers is free, if you hire a pair. After that there's a success fee, at 20% of starting salary.
      .column
        %h4 What training are they going through?
        %p
        Check our
        = link_to "curriculum", "/curriculum.html"
        to see what our students learn. You can also find lots of
        = link_to "case studies of graduates", "/graduates.hml"
        who now are working as software engineers at leading tech firms all over the world.
      .column
        %h4 Where are your software developers located?
        %p The majority of our software developers are in London, with many in other UK cities and parts of Europe and USA. We’re growing fast and we might have people where you are, but if you tell us what you need, we can use that information to attract and train amazing people in your area.
