- description "Hire London's top junior developers from Makers Academy"
- title "Employers"
- @hide_from_google = true

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader Create a culture of
      %h1 Growth, Learning & Ambition
      %p Build your business with brilliant junior developers
      .button-row.small-padding-top
        = link_to "Start Hiring", "/employers/contact.html", class: "button button--horizontal"
      .five-width-row.small-padding-top
        .column
          = image_tag "hiring-partners/MS-labs.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/compare-the-market.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/FT.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Deloitte-Digital.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Sky.png", class:"image--medium"
      .five-width-row.small-padding-top
        .column
          = image_tag "hiring-partners/ThoughtWorks.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/pivotal-labs.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Shutl.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/just-giving.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/TechStars.png", class:"image--medium"

%section
  .container
    .centered-row
      %h2 Recruitment is hard
      %h4.subheader we do the work for you
    .three-width-row
      .column
        %h5 We Select
        %p You have to be amazing to study at Makers Academy. We have a tough selection process, that tests for determination and technical aptitude, and accepts less than 10% of applicants. We find exceptional people for you, and then train them.
      .column
        %h5 We Train
        %p Our students spend 10-14 hours a day, 5-7 days a week, learning to be developers. Their code is clean, maintainable and extendable. They're advocates of TDD, pair programming, SOLID and Agile principles. They've learned to build software in teams.
      .column
        %h5 We Match
        %p You get a shortlist of candidates matched (by our engineers) to your needs, based on the in-depth knowledge we have about their commercial background, technical ability, motivations and characteristics - we've spent three months with them.

%section.backgrounded
  .container
    .centered-row
      %h4.subheader How will it
      %h2 Work for you?
    .three-width-row
      .column
        %h4 1. Post a Job
        %p Complete our job description, which is tailored to the specific needs of the Makers Academy talent pool. We'll use it to create your shortlist.
      .column
        %h4 2. Meet
        %p Once we've done our matching, you can follow your usual process, whether that's a tech test, a pairing interview or drinks at your place.
      .column
        %h4 3. Hire
        %p Most of our candidates get multiple offers and are hired within a few weeks of graduating. Make an attractive offer and secure the top talent.

%section.half-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h3 Who they are
          %p Makers Academy developers are passionate, driven, curious and engaging.
          %p They solve their own problems, are exceptionally fast and effective learners, and understand the business context beyond the code.
          %p The majority of our graduates have been successful in another industry, including law, marketing, banking, design, and many more: that's experience they'll bring to your company.
      .column
        = partial :"preview_graduates"

%section.backgrounded
  .container
    .four-width-row.row-with-borders
      .column
        %h2.statistic 30
        %h4.subheader Developers every 6 weeks
      .column
        %h2.statistic 28
        %h4.subheader Average Age
      .column
        %h2.statistic 35%
        %h4.subheader Female Engineers
      .column
        %h2.statistic 800+
        %h4.subheader hours of coding


= partial :"employer_testimonials"


%section.hero-splash
  .container
    .centered-row
      %h1 300+ companies
      %h4.subheader have hired our developers
      .five-width-row
        .column
          = image_tag "hiring-partners/new-bamboo.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Workshare.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Qubit.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/legal-and-general.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/zopa.png", class:"image--medium"
      .five-width-row.small-padding-top
        .column
          = image_tag "hiring-partners/Lyst.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Springer.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/cloud-credo.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/8th-light.png", class:"image--medium"
        .column
          = image_tag "hiring-partners/Factory.png", class:"image--medium"
      .button-row.small-padding-top
        = link_to "Start Hiring", "/employers/contact.html", class: "button button--horizontal"

%section
  .container
    .three-width-row
      .column
        %h4 How much will it cost me to hire?
        %p 20% of base starting salary. We charge more than recruitment agencies because we deliver more.
      .column
        %h4 What training are they going through?
        %p
        Check our
        = link_to "curriculum", "/curriculum.html"
        to see what our students learn. You can also find lots of
        = link_to "case studies of graduates", "/graduates.html"
        who now are working as software engineers at leading tech firms all over the world.
      .column
        %h4 Where are your software developers located?
        %p The majority of our software developers are in London, with many in other UK cities and parts of Europe and USA. We’re growing fast and we might have people where you are, but if you tell us what you need, we can use that information to attract and train amazing people in your area.
:javascript
  analytics.track('Viewed Employers Landing Page', {'Landing Page': 'Sponsors'});
