- description "Find out more about Makers Academy"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-banner.jpg")});"}
  .container
    .centered-row
      = image_tag "logo/ma-white.png", class: "logo"
      %h1 About Makers Academy
      %p Makers Academy is a fully immersive, full-time computer programming bootcamp, designed to turn people with no knowledge of web-development into job-ready junior developers in just 12 weeks. We’re Europe’s #1 Developer Bootcamp, running new classes of 25 students every 6 weeks, and we’re based in the heart of London’s Tech City.
    .email-capture-row
      %form
        %input{type: "email", placeholder: "Your Email Address"}
        %input{type: "submit", value: "Stay Informed"}

%section
  .container
    .slider-row
      .slider-content
        .profile-row
          .image
            = image_tag "graduates/paul-smith.png"
          .copy
            %h1 Paul Fitzgerald
            %h2.subheader Marketing Executive to Junior Developer
            %blockquote I love Makers - they are a really nice bunch of chaps. They also play a mean game of Jenga, not to mention the Karaoke talent is formidable.
            .button-row
              %p
                %a.button Read more
                %a.button Read blog
        .profile-row
          .image
            = image_tag "graduates/paul-smith.png"
          .copy
            %h1 Dave Smith
            %h2.subheader Friend to all
            %blockquote I love Makers - they are a really nice bunch of chaps
            .button-row
              %p
                %a.button Read more
                %a.button Read blog

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Meet our hiring partners
      %p We’ve graduated over 300 beginners into their dream jobs as junior developers. Some were looking for a career change, others to define themselves.
    .three-width-row
      .column
        = image_tag "hiring-partners/ctm-logo.png"
        = image_tag "hiring-partners/deloitte-logo.png"
      .column
        %a.button--alt See more partners
      .column
        = image_tag "hiring-partners/springer-logo.png"
        = image_tag "hiring-partners/thoughtworks-logo.png"
%section
  .container
    .centered-row
      %h1 Curriculum
      %p We believe that teaching consists of much more than just the materials we provide and the curriculum we created. We currently use a mixture of workshops, exercises, projects, classroom break-out sessions and end of the week tests to help our students understand programming. The immersive environment, having expert teachers on hand all day, and pairing with other students are all key to our teaching process.
    .centered-row
      = image_tag "technologies/ruby-logo.png", height: 150
      = image_tag "technologies/html5-logo.png", height: 150
      = image_tag "technologies/javascript-logo.png", height: 150
      = image_tag "technologies/git-logo.png", height: 150
%section.hero{style: "background-image: url(#{image_path("backgrounds/shop-floor.jpg")});"}
  .container
    .centered-row
      %h1 Apply Now
      %p The full 16-week programme costs £8,000. We run cohorts every 6 weeks, and applications are highly competitive. We offer numerous payment options
    .button-row
      %p
        = link_to "Payment Options", "payment", class: "button--alt"
        = link_to "Apply", "http://apply.makersacademy.com", class: "button--apply"
        = link_to "Learn More", "curriculum", class: "button--alt"
