- description "Find out more about Makers Academy"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-banner.jpg")});"}
  .container
    .centered-row
      %h1 About Us
      %p Makers Academy is a fully immersive, full-time computer programming bootcamp, designed to turn people with no knowledge of web-development into job-ready junior developers in just 12 weeks. We’re Europe’s #1 Developer Bootcamp, running new classes of 25 students every 6 weeks, and we’re based in the heart of London’s Tech City.
%section.article
  %article
    %h3.subheader Our Story
    %p
      %span Makers Academy was founded by Evgeny Shadchnev and Rob Johnson when they met at Forward labs.
      Evgeny was a classically trained software developer and as he was trying to build out his team he discovered a lack of qualified developers on the market. At the same time Rob had been teaching himself to program through a book on Objective C and it took him 9 months and 30 hours a week to get through it. A conversation between the two made them realise that while computer science programs were good at drilling students with theory, they were training people to become computer science professors instead of programmers, and something had to be done.
    %p About 4 months after that conversation they started their first cohort &hyphen; in February 2013 - creating Makers Academy - an alternative to university and a vocational route into a job as a web developer, allowing people to switch careers and learn to code in 3 hyper-intensive months. Makers Academy has now been going for over 2 years and has graduated over 300 students.

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Our Team
      %p Our mission is to teach as many people as possible to code well and since we started in early 2013 we’ve grown from two people to a team of twenty. We are not just colleagues, we’re a family. The Makers Academy team is a diverse bunch who work hard and play hard. Interested in joining us on our journey? Get in touch.
%section
  .container
    .centered-row
      %h1 Frequently-Asked Questions
    .faq-row
      %aside#scroll-on-page-top
        %a.scroll-on-page-link{href: "#scroll-link-1"} Can I really learn to code in 12 weeks?
        %a.scroll-on-page-link{href: "#scroll-link-2"} Really?
        %a.scroll-on-page-link{href: "#scroll-link-3"} No, Seriously...
      %article
        .question
          %h4#scroll-link-1 Can I really learn to code in 12 weeks?
          %p= lorem.paragraphs(3)
        .question
          %h4#scroll-link-2 Really?
          %p= lorem.paragraphs(3)
        .question
          %h4#scroll-link-3 No, Seriously...
          %p= lorem.paragraphs(3)
%section.hero{style: "background-image: url(#{image_path("backgrounds/shop-floor.jpg")});"}
  .container
    .centered-row
      %h1 Apply Now
      %p The full 16-week programme costs £8,000. We run cohorts every 6 weeks, and applications are highly competitive. We offer numerous payment options
    .button-row
      %p
        = link_to "Payment Options", "payment", class: "button--alt"
        = link_to "Apply", "http://apply.makersacademy.com", class: "button--apply"
        = link_to "Learn More", "curriculum", class: "button--alt"
