- description "See our world-leading curriculum. Learn everything from Ruby to JavaScript to the best software practices like Test Driven Development."

= partial :"curriculum/splash"
= partial :"curriculum/manifesto"

%hr

= partial :"curriculum/daily_schedule"

%hr

= partial :"full_curriculum_slider"
= partial :"course_dates"
= partial :"apply"
