- description "See our world-leading curriculum. Learn everything from Ruby to JavaScript to the best software practices like Test Driven Development."
- title "Curriculum"

= partial :"curriculum/splash"
= partial :"curriculum/manifesto"

%hr

= partial :"curriculum/daily_schedule"

%hr

= partial :"curriculum/full_curriculum_vertical"
= partial :"course_dates"
= partial :"primary_call_to_action"
