- description "See our world-leading curriculum. Learn everything from Ruby to JavaScript to the best software practices like Test Driven Development."
- title "Curriculum"

= partial :"partials/curriculum/splash"
= partial :"partials/curriculum/manifesto"

%hr

= partial :"partials/curriculum/daily_schedule"

%hr

= partial :"partials/curriculum/full_curriculum_vertical"
= partial :"partials/course_dates"
= partial :"partials/primary_call_to_action"
