- title " Join us at Demo Day"
- description "Visit the Makers Academy campus and see what our developers have built."

%section.hero-splash{style: "background-image: url(#{image_path("employers/people/employers-breakfast.jpg")});"}
  .container
    .centered-row
      %h4.leader Join us at our next
      %h1 Final project demo day
      %p.margin-bottom Discover where 12 weeks of coding can take you. Soak in the Makers atmosphere and see what our developers have built.

%section.full-slider.medium-padding-top
  .container
    .centered-row
      %h4.leader meet
      %h2 our community
      %p At Makers we equip you with the skills you need to become a professional software engineer. By Week 11 we’ve completely revolutionised your approach to learning and taught you the ability to master any software from scratch. Most teams choose an entirely new language or framework to build their final project. Our Open Day is a great opportunity to talk to staff and students about the steep learning curve you’ll experience here.
    .slider
      - data.team.each do | team_member |
        .slide
          .container
            .profile-row
              .image.show-desktop
                = image_tag "team/#{team_member[:image]}"
              .copy
                %h2= team_member[:name]
                %h4.subheader= team_member[:job_title]
                %p= team_member[:about]
                .button-row.shift-to-bottom

%section.backgrounded.no-min-height
  .container
    %blockquote You hit the floor running and for three months you don't stop. Don't expect to learn just one language, expect to learn many - you are encouraged to branch out and make your own choices. In doing so you make your own mistakes and come to your own conclusions - all with the support and guidance from a great bunch of coaches.

%section
  .container
    %h4.leader Book
    %h2 your ticket
    %h4.subheader now
    %iframe.padding-top{src: "//eventbrite.co.uk/tickets-external?eid=32658194539&ref=etckt", frameborder: 0, height: "375", width: "100%", allowfullscreen: true}

/ Analytics event for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'demo-day'}, {'nonInteraction': 1});
