- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/codingonscreen.jpg")});"}
  .container
    .centered-row
      %h4.leader Start your career
      %h1 Learn to code in 12 weeks
      %h4.subheader

      %p Have you just finished university and not sure what to do or where to go with life? Or maybe you're thinking of skipping university altogether? Get ahead of the game and learn the most essential skill of the modern age: Coding! Makers Academy has graduated over #{stats.number_of_graduates} students into their dream jobs as junior developers.
      %p Sign up to the newsletter to get your free e-book: Computer Science vs Coding Bootcamps
    = partial :"email-capture", locals: { segments: "website-education-leaver-cs" }

%section
  .article--centered
    %article
      %h3 Why should you consider a career in web development?
      %p You might have started university following one career path, changed your mind half-way through then graduated with no idea what you’re going to do. Don’t worry, you’re not alone, and it’s not too late to rethink what your career’s going to look like.
      %p The technology sector has been expanding for years, and it’s also one of the most exciting and forward-thinking industries you can work in. The demand for developers is growing rapidly (20% year on year!) but the supply of developers is flat lining – in short, the tech industry needs people exactly like you!
      %p Competition in the graduate job market is tough, and sometimes having a university degree just isn't enough. Employers value practical skills and digital literacy over fancy pieces of paper and abstract knowledge – join Makers Academy to learn how to code and show them that your knowledge goes further than just the textbooks.
      %p Don't want to end up on a bog standard graduate program? Want to be in full control of your career and have creative freedom? Your new job in web development is just 12 weeks away.
%hr

%section.no-padding-bottom
  .article--centered
    %article
      %h3 This could be you
      %p Before coming to Makers Academy, our graduates have done degrees in various subjects. Everything from from politics to philosophy, history and even art. No matter what your background it is possible to learn to code and get a job as a junior developer!
    = partial :"email-capture", locals: { segments: "website-education-leaver-cs" }

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader Meet
      %h2 Our hiring partners
      %p The average salary for a Makers Academy graduate in a Junior Developer role is £32k. Now compare that to the starting salary for a UK University graduate, which ranges between £18-£24k. Not only will you get ahead and earn more, you’ll have great growth prospects and could be working at one of the incredible companies we’re partnered with. Chew on this, after 3 years, our graduates have paid the costs of their tuition - and made £82k on top. Meanwhile, a university graduate still has approx £25k debt. How does that measure up with your future plans?

    .three-width-row
      .column
        .image--centered
          = image_tag "hiring-partners/Atos.png"
        .image--centered
          = image_tag "hiring-partners/compare-the-market.png"
      .column
        = link_to "Learn about Partners", "/employers.html", class: "button button--horizontal"
      .column
        = image_tag "hiring-partners/Deloitte-Digital.png"
        = image_tag "hiring-partners/just-giving.png"

%section.half-slider.half-slider--reverse.with-padding
  .container
    .half-slider-row
      .hide-desktop
        .copy.copy--right
          %h4.leader A World-Leading
          %h2 Curriculum
          %p We're passionate about education and software development. Our course has been designed by industry experts to introduce you to the most-used technologies in today's marketplace, and to equip you with the skills you need to quickly find a job as a junior developer.
          .button-row.shift-to-bottom
            %p
              = link_to "Our Education Philosophy", "/curriculum.html", class: "button button--horizontal"
      .column
        .slider
          .slide
            .image--centered
              = image_tag "technologies/ruby-logo.png", height: 150
            %h3 Ruby
            %p Ruby is a general-purpose programming language. The brainchild of many other brilliant languages, it's an intuitive route into programming. Ruby is used in web applications through frameworks like Rails and Sinatra.
          .slide
            .image--centered
              = image_tag "technologies/html5-logo.png", height: 150
            %h3 HTML
            %p HTML is the building material of the web. We'll guide you towards building beautiful, structured webpages and altering content dynamically, both on the server and client-side.
          .slide
            .image--centered
              = image_tag "technologies/javascript-logo.png", height: 150
            %h3 JavaScript
            %p JavaScript is rapidly becoming the biggest programming language in the world. You can use it anywhere: to animate text on a page, to run a high-throughput server, and to enable your coffee machine to work over WiFi.
          .slide
            .image--centered
              = image_tag "technologies/git-logo.png", height: 150
            %h3 git
            %p git is the world's most popular way to manage, share, and distribute code. We embed best GitHub practices from the get-go, which perfectly suits our focus on Pair Programming - and our Hiring Partners.
      .column.show-desktop
        .copy.copy--right
          %h4.leader A World-Leading
          %h2 Curriculum
          %p We're passionate about education and software development. Our course has been designed by industry experts to introduce you to the most used technologies in today's marketplace, and to equip you with the skills you need to quickly find a job as a Junior Developer.
          .button-row
            %p
              = link_to "Our Education Philosophy", "/curriculum.html", class: "button button--horizontal"

%hr

= partial :"benefits_table"

= partial :"primary_call_to_action"

/ Analytics for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'Education Leavers'});
  analytics.identify({'Education Leaver': true});
