:css
  .elements { text-align: left; }

%section.no-min-height
  .container
    .centered-row
      %h1#main Makers Academy Elements
      %p All HTML components. Copy-paste this stuff to replicate.

%section.no-min-height.no-padding
  .container
    .centered-row
      %hr
      %h2 Components
      %hr

<<<<<<< HEAD
%section.the-elements
  .centered-row
    %ul.tabs.element-tabs
=======
%section
  .centered-row
    %ul.tabs
>>>>>>> d69e10f9c93d0f63fe90bc7420d0bfb5cd7b7a8f
      %li.tab-header-and-content
        %a.tab-link.is-active{:href => "#"} Little
        .tab-content= partial :"elements/little"
      %li.tab-header-and-content
        %a.tab-link{:href => "#"} Bigger
        .tab-content= partial :"elements/bigger"
      %li.tab-header-and-content
        %a.tab-link{:href => "#"} Biggest
        .tab-content= partial :"elements/biggest"
      %li.tab-header-and-content
<<<<<<< HEAD
        %a.tab-link{:href => "#"} Typography
        .tab-content= partial :"elements/typography"
      %li.tab-header-and-content
        %a.tab-link{:href => "#"} Forms
        .tab-content= partial :"elements/forms"
      %li.tab-header-and-content
        %a.tab-link{:href => "#"} Tables
        .tab-content= partial :"elements/tables"
      %li.tab-header-and-content
=======
>>>>>>> d69e10f9c93d0f63fe90bc7420d0bfb5cd7b7a8f
        %a.tab-link{:href => "#"} Unsorted
        .tab-content
          %p= lorem.sentences(2)
