- description "Unlike any junior developers you've ever seen."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Makers Academy Graduates
      %p Unlike any junior developers you've ever seen.
    .button-row
      %p 
        = link_to "Hire Junior Devs", "https://makersacademy.typeform.com/to/sz8vTw", class: "button--vertical", target: "_blank"

%section
  .container
    .centered-row
      %h2 Work-ready junior developers
    .three-width-row
      .column
        = image_tag "placeholders/nuclear-blue.png"
        %h2.subheader Clean Code
        %p= lorem.sentences(3)
      .column
        = image_tag "placeholders/nuclear-blue.png"
        %h2.subheader Clean Code
        %p= lorem.sentences(3)
      .column
        = image_tag "placeholders/nuclear-blue.png"
        %h2.subheader Clean Code
        %p= lorem.sentences(3)

%section.backgrounded
  .article--left
    %article
      %p 
        %span Makers Academy graduates are passionate, driven, curious and engaging.
      %p They are excellent communicators, easily translating across departments. They solve their own problems, are exceptionally fast and effective learners, and understand the business context beyond the code.
      %p Unlike other sources of junior software talent, Makers Academy graduates have usually been successful in another industry, corporate and start-up, whether law, marketing, graphic design or anything else: experience they will bring to your company.
  .container
    .button-row--left
      =link_to "Meet our Graduates", "graduates.html", class: "button--horizontal"

%section
  .article--centered
    %article
      %p 
        %span We focus on attitude first, methodology second, and technologies third.
      %p < Curriculum Summary >
  .container
    .button-row
      =link_to "Learn about our Curriculum", "curriculum.html", class: "button--horizontal"

%section.backgrounded
  .article--right
    %article
      %p
        %span We graduate 25 people every 6 weeks.
      %p They go straight into junior developer jobs that pay an average of more than £30,000.
      %p Students learn Ruby and Javascript, but have been hired into Java, .NET, PHP and Python, as well as Ruby on Rails, Angular.js, Node.js and many other frameworks.
      %p
        %span Makers Academy graduates over-deliver, time and again.

= partial :"partials/employer_testimonials"

%hr

%section.backgrounded
  .container
    .centered-row
      %h2 Ways to engage with MA
    .centered-row
      %h2.subheader Engaging with Students
      %table
        %thead
          %tr
            %th Activity
            %th Time
            %th Frequency
        %tbody
          %tr
            %td Provide kit, resources, or sponsorship
            %td None
            %td Per cohort (12 weeks)
          %tr
            %td Give a 'lunchtime talk' on what it's like in the real world of software development
            %td 1 hour
            %td Per cohort
          %tr
            %td Act as a 'day coach': pair program with students, helping them learn
            %td 4 - 8 hours
            %td No limit
          %tr
            %td Organise hackathons (or other events) at Makers Academy, inviting the students
            %td 1 - 3 days
            %td Per cohort
          %tr
            %td Attend students' graduation showcase - chat to them as they finish the course
            %td 3 hours
            %td Every 6 weeks
          %tr
            %td Contribute to 'Hiring Week' - a week of employability content, after graduation
            %td 1 - 2 hours
            %td Every 6 weeks
    .centered-row
      %h2.subheader Engaging with Graduates
      %table
        %tbody
          %tr
            %td Attend our 'Sort of Careers Fair' on the Friday morning of Hiring Week
            %td 3 hours
            %td Every 6 weeks
          %tr
            %td Lightning-pitch your jobs to our 'job hunters' on a Wednesday evening
            %td 40 minutes
            %td Every Wednesday
          %tr
            %td Arrange a site visit to your offices - preferably in the evening with drinks
            %td 2 hours
            %td No limit
          %tr
            %td Publish your tech test(s) to them - and let us manage submissions
            %td None
            %td No limit
          %tr
            %td Publish your jobs to our internal job board - and let us manage applications
            %td None
            %td No limit
          %tr
            %td Conduct interviews at Makers Academy, saving you time and effort
            %td A few hours
            %td No limit

%section
  .container
    .centered-row
      %h2.subheader All of the above for free, until you find someone.
      %p
        Then it's 
        %b 20% 
        of starting salary.
    .centered-row
      %table
        %thead
          %tr
            %th Better than any other Bootcamp
            %th Better than a recruiter
        %tbody
          %tr
            %td
              %i reasons
            %td
              %i reasons
          %tr
            %td
              %i reasons
            %td
              %i reasons
          %tr
            %td
              %i reasons
            %td
              %i reasons
          %tr
            %td
              %i reasons
            %td
              %i reasons

%section.backgrounded
  .container
    .centered-row
      %h2 Our Ideal Employer
      %table
        %tbody
          %tr
            %td L&amp;D
            %td Culture
          %tr
            %td TDD
            %td Craftsmanship
          %tr
            %td Agile
            %td other stuff
          %tr
            %td Onboarding
            %td other stuff
          %tr
            %td Team size
            %td other stuff

= partial :"partials/apply", locals: {employers: true}

