- description "Hire London's top junior developers"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Hire London's <br> top junior developers
      %p 30 new devs every 6 weeks
    .button-row
      %p
        = link_to "Hire Developers", "https://makersacademy.typeform.com/to/sz8vTw", class: "button--vertical", target: "_blank"

%section
  .container
    .centered-row
      %h2 Work-ready junior developers
    .three-width-row
      .column
        = image_tag "icons/icon-heart.png"
        %h3 Passion
        %p Driven, curious and engaged: our graduates are incredibly enthusiastic about code. They are determined and dedicated in the face of problems and committed to constantly discovering more.
      .column
        = image_tag "icons/icon-craft.png"
        %h3 Craft
        %p Clean, maintainable and extendable: their code is a pleasure to read. Our graduates are advocates of TDD, pair programming, and SOLID and Agile principles - they write quality code.
      .column
        = image_tag "icons/icon-briefcase.png"
        %h3 Experience
        %p Personable, knowledgable and capabale: our graduates add value beyond the code - most have built successful careers in other industries: experience they will bring to your company.

%section.backgrounded
  .article--centered
    %article
      %h3 What they learn
      %p 
        %span Learning to be a developer at Makers Academy is less about what you know and more about how you do it.
      %p Attitude: Students learn how to solve problems for themsleves, to find their own answers.
      %p Behaviour: They're pair-programming 80% of the time, working in scrum teams on projects and writing clean, maintainable code.
      %p Technology: Our curriculum is mainly Ruby and Javascript, but students often teach themselves all manner of other technologies.
  .container
    .button-row
      =link_to "Discover our Curriculum", "/curriculum.html", class: "button--horizontal"

= partial :"employer_testimonials"

%section.backgrounded
  .article--centered
    %article
      %h3 !! Employment Statistics !!

%section
  .article--centered
    %article
      %p
        %span Makers Academy graduates are passionate, driven, curious and engaging.
      %p They solve their own problems, are exceptionally fast and effective learners, and understand the business context beyond the code.
      %p Unlike other sources of junior software talent, Makers Academy graduates have usually been successful in another industry, corporate and start-up, whether law, marketing, graphic design or anything else: experience they will bring to your company.
  .container
    .button-row--centered
      =link_to "Meet our Graduates", "/graduates.html", class: "button--horizontal"

%hr

%section.backgrounded
  .container
    .centered-row
      %h2 Ways to engage
    .centered-row
      %table
        %thead
          %tr
            %th Activity
            %th Time
            %th Frequency
        %tbody
          %tr
            %td Give a Lunchtime Talk
            %td 1 hour
            %td Per cohort
          %tr
            %td Host a Code Day
            %td 1 day
            %td Per cohort
          %tr
            %td Attend a Graduation Showcase
            %td 2 hours
            %td Every 6 weeks
          %tr
            %td Pitch at a Careers Fair
            %td 2 hours
            %td Every 6 weeks
          %tr
            %td Meet our Jobhunters
            %td 40 minutes
            %td Every Wednesday
          %tr
            %td Publish your Jobs
            %td None
            %td No limit

    .centered-row
      %h3 All of the above for free, until you find someone.
      %p
        Then it's
        %b 20%
        of starting salary.

%section.backgrounded
  .container
    .centered-row
      %h2 Our Ideal Employer
      %table
        %tbody
          %tr
            %td Commitment to Learning
            %td Fans of Software Craftsmanship
          %tr
            %td Mentoring or Buddying
            %td Tech team bigger than 10 people
          %tr
            %td TDD / BDD
            %td Pair Programming
          %tr
            %td Agile
            %td Diverse

= partial :"apply", locals: {page: :employers}

