- description "We have the best graduates."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Graduates
      %p Makers Academy is Europe’s leading developer bootcamp. Learn the principles of software craftsmanship under the guidance of top industry professionals. 
    .email-capture-row
      %form
        %input{type: "email", placeholder: "Your Email Address"}
        %input{type: "submit", value: "Stay Informed"}

%section.full-slider
  .slider
    .slide
      .container
        .profile-row
          .image.show-desktop
            = image_tag "graduates/paul-smith.png"
          .copy
            %h1 Paul Fitzgerald
            %h2.subheader Marketing Executive to Junior Developer
            %blockquote I love Makers - they are a really nice bunch of chaps. They also play a mean game of Jenga, not to mention the Karaoke talent is formidable.
            .button-row.shift-to-bottom
              %p
                = link_to "Read more", "#", class: "button--horizontal"
                = link_to "Read blog", "#", class: "button--horizontal", target: "_blank"
          .image.hide-desktop.no-padding
            = image_tag "graduates/paul-smith.png"
    .slide
      .container
        .profile-row
          .image.show-desktop
            = image_tag "graduates/paul-smith.png"
          .copy
            %h1 Dave Smith
            %h2.subheader Friend to all
            %blockquote Why not Makers? It's pretty sick
            .button-row.shift-to-bottom
              %p
                = link_to "Read more", "#", class: "button--horizontal"
                = link_to "Read blog", "#", class: "button--horizontal", target: "_blank"
          .image.hide-desktop.no-padding
            = image_tag "graduates/paul-smith.png"

%section.full-slider.backgrounded.with-padding
  .slider
    .slide{ style: "background-image: url(#{image_path("graduate_projects/test-project.jpg")})" }
      .container
        .centered-row
          %h1 Google Maps
          %h2.subheader Gabe, Alan, and Dave, April 2015
          %p Makers Academy is Europe’s leading developer bootcamp. Learn the principles of software craftsmanship under the guidance of top industry professionals. 
        .button-row
          %p
            = link_to "See it live", "http://google.com", class: "button--horizontal", target: "_blank"
            = link_to "View code", "http://github.com", class: "button--horizontal", target: "_blank"
    .slide{ style: "background-image: url(#{image_path("graduate_projects/test-project-2.jpg")})" }
      .container
        .centered-row
          %h1 Turnup Tunein
          %h2.subheader Maurice, Martin, and Lauren, May 2015
          %p Makers Academy is Europe’s leading developer bootcamp. Learn the principles of software craftsmanship under the guidance of top industry professionals. 
        .button-row
          %p
            = link_to "See it live", "http://google.com", class: "button--horizontal", target: "_blank"
            = link_to "View code", "http://github.com", class: "button--horizontal", target: "_blank"

= partial :"partials/apply", locals: {backgrounded: false}
