- description "Powerful website full of best practices and keywords"
%section.hero{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      = image_tag "logo/ma-white.png", class: "logo"
      %h1 Learn to code in 12 weeks
      %p= lorem.sentences(5)
    .email-capture-row
      %form
        %input{type: "email", placeholder: "Email Address"}
        %input{type: "submit"}

%section.slider
  .container
    .profile-row
      .image
        %img{ src: lorem.image("400x400") }
      .copy
        %h1= lorem.sentence
        %h2= lorem.sentence
        %p= lorem.paragraph
    .profile-row
      .copy
        %h1= lorem.sentence
        %h2= lorem.sentence
        %p= lorem.paragraph
      .image
        %img{ src: lorem.image("400x400") }
%section
  .container
    .centered-row
      %h1= lorem.sentence
      %p= lorem.paragraph

    .three-width-row
      .column
        %img{ src: lorem.image("200x100") }
        %img{ src: lorem.image("200x100") }
      .column
        %button= lorem.word
      .column
        %img{ src: lorem.image("200x100") }
        %img{ src: lorem.image("200x100") }
