- description "Powerful website full of best practices and keywords"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      = image_tag "logo/ma-white.png", class: "logo"
      %h1 Learn to code in 12 weeks
      %p Makers Academy is Europe’s leading developer bootcamp. Learn the principles of software craftsmanship under the guidance of top industry professionals. 
    .email-capture-row
      %form
        %input{type: "email", placeholder: "Your Email Address"}
        %input{type: "submit", value: "Stay Informed"}

%section.half-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h2.leader Meet
          %h1 Our Grads
          %p We've graduated over 300 beginners into their dream jobs as junior developers. Some were looking for a career change, others to define themselves.
          .button-row.shift-to-bottom
            %p
              = link_to "Read Grad Stories", "graduates.html", class: "button--horizontal"
      .column
        .slider
          .slider-content
            %figure.with-caption
              .image
                = image_tag "graduates/paul-smith.png"
              %figcaption
                %p= lorem.words(2)
                %p= lorem.words(2)
                %p= lorem.words(2)
          .slider-content
            %figure.with-caption
              .image
                = image_tag "graduates/paul-smith.png"
              %figcaption
                %p= lorem.words(2)
                %p= lorem.words(2)
                %p= lorem.words(2)

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h2.leader Meet
      %h1 Our hiring partners
      %p We’ve graduated over 300 beginners into their dream jobs as junior developers. Some were looking for a career change, others to define themselves.
    .three-width-row
      .column
        .image--centered
          = image_tag "hiring-partners/Deloitte-Digital.png"
        .image--centered
          = image_tag "hiring-partners/JustGiving.png"
      .column
        = link_to "See our Partners", "partners.html", class: "button--horizontal"
      .column
        = image_tag "hiring-partners/Qubit.png"
        = image_tag "hiring-partners/ThoughtWorks.png"

%section.half-slider.half-slider--reverse.with-padding
  .container
    .half-slider-row
      .hide-desktop
        .copy.copy--right
          %h3.leader A World-Leading
          %h1 Curriculum
          %p Our immersive environment, having expert teachers on hand all day, and pairing with other students are all key to our teaching process.
          .button-row.shift-to-bottom
            %p
              = link_to "Our Education Philosophy", "curriculum.html", class: "button--horizontal"
      .column
        .slider
          .slide
            .image--centered
              = image_tag "technologies/ruby-logo.png", height: 150
            %h2.subheader Ruby
            %p Ruby is a general-purpose programming language. The brainchild of many other brilliant languages, it's an intuitive route into programming. Ruby is used in web applications through frameworks like Rails and Sinatra.
          .slide
            .image--centered
              = image_tag "technologies/html5-logo.png", height: 150
            %h2.subheader HTML
            %p HTML is the building material of the web. We'll guide you towards building beautiful, structured webpages and altering content dynamically, both server- and client-side.
          .slide
            .image--centered
              = image_tag "technologies/javascript-logo.png", height: 150
            %h2.subheader JavaScript
            %p JavaScript is rapidly becoming the biggest programming language in the world. You can use it anywhere: to animate text on a page, to run a high-throughput server, and to enable your coffee machine to work over WiFi.
          .slide
            .image--centered
              = image_tag "technologies/git-logo.png", height: 150
            %h2.subheader git
            %p git is the world's most popular way to manage, share, and distribute code. We embed best GitHub practices from the get-go, which perfectly suits out focus on Pair Programming - and our Hiring Partners.
      .column.show-desktop
        .copy.copy--right
          %h3.leader A World-Leading
          %h1 Curriculum
          %p Our immersive environment, having expert teachers on hand all day, and pairing with other students are all key to our teaching process.
          .button-row
            %p
              = link_to "Our Education Philosophy", "curriculum.html", class: "button--horizontal"

= partial :"partials/apply"
