- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/topdownrownew.jpg")});"}
  .container
    .centered-row
      %h1 Learn to code in 12 weeks
      %p.margin-bottom Makers Academy is Europe's leading Web Developer bootcamp. We believe the best way to learn is through practical hands-on education. Train with us and we’ll guarantee your first job as a software developer.
    = partial :"email-capture", locals: { segments: "website-homepage-newsletter", lifecycle_stage: "subscriber", customer_type: "b2c", button_text: "Stay in touch" }
    = partial 'logos_grid', locals: { companies: data.static.homepage_grid_companies }

%section.half-slider.graduates-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h4.leader Meet
          %h2 Our Grads
          %p Our graduates come from all walks of life, and leave as trained software craftspeople. We're highly selective; a place at Makers Academy will greatly improve your chances of success in the rapidly-moving world of software engineering.
          .button-row.shift-to-bottom
            %p
              = link_to "Read Grad Stories", "/graduates.html", class: "button button--horizontal"
      .column
        = partial :"preview_graduates"

%section.backgrounded
  .container
    .centered-row
      %h4.leader Try our free ebook now
      %h2 Learn Ruby in 15 minutes
      %p Take the plunge. Get a free copy of our Learn Ruby In 15 Minutes ebook by signing up to our newsletter.
    = partial :"email-capture", locals: { segments: "website-homepage-lr15", lifecycle_stage: "lead", customer_type: "b2c", button_text: "Get e-book" }

= partial :"splash/curriculum"

= partial :"course_dates"

= partial :"benefits_table"

= partial :"primary_call_to_action"

%script{:async => "async", :charset => "utf-8", :src => "//my.hellobar.com/a4d685534de7dd2955f70177e82b134e53c2309b.js", :type => "text/javascript"}
