- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn to code in 12 weeks
      %p.margin-bottom Makers Academy is Europe's leading Web Developer bootcamp. With our help, you'll learn the principles of software craftsmanship and we'll also help you get your first job. We've graduated over #{stats.number_of_graduates} students into their dream jobs as junior developers.
  = partial :"onsite_vs_remote_header"

%section.half-slider.graduates-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h4.leader Meet
          %h2 Our Grads
          %p Our graduates come from all walks of life, and leave as trained software craftspeople. We're highly selective; a place at Makers Academy will greatly improve your chances of success in the rapidly-moving world of software engineering.
          .button-row.shift-to-bottom
            %p
              = link_to "Read Grad Stories", "/graduates.html", class: "button button--horizontal"
      .column
        = partial :"preview_graduates"

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader Meet
      %h2 Our hiring partners
      %p We’ve graduated over #{stats.number_of_graduates} beginners into their dream jobs as junior developers. Some were looking for a career change, others to bring their ideas to life.
    .three-width-row
      .column
        .image--centered
          = image_tag "hiring-partners/Atos.png"
        .image--centered
          = image_tag "hiring-partners/compare-the-market.png"
      .column
        = link_to "Learn about Partners", "/employers.html", class: "button button--horizontal"
      .column
        = image_tag "hiring-partners/Deloitte-Digital.png"
        = image_tag "hiring-partners/just-giving.png"

= partial :"splash/curriculum"

%hr

= partial :"benefits_table"

= partial :"primary_call_to_action"

= partial :"email-capture"

/ Analytics event for visiting homepage
:javascript
  analytics.track('Viewed homepage');
