- description "Powerful website full of best practices and keywords"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      = image_tag "logo/ma-white.png", class: "logo"
      %h1 Learn to code in 12 weeks
      %p Makers Academy is Europe’s leading developer bootcamp. Learn the principles of software craftsmanship under the guidance of top industry professionals. 
    .email-capture-row
      %form
        %input{type: "email", placeholder: "Your Email Address"}
        %input{type: "submit", value: "Stay Informed"}

%section.slider
  .container
    .profile-row
      .image
        = image_tag "graduates/paul-smith.png"
      .copy
        %h1 Paul Fitzgerald
        %h2.subheader Marketing Executive to Junior Developer
        %blockquote I love Makers - they are a really nice bunch of chaps. They also play a mean game of Jenga, not to mention the Karaoke talent is formidable.
        .button-row
          %p
            %a.button Read more
            %a.button Read blog
    .profile-row
      .image
        = image_tag "graduates/paul-smith.png"
      .copy
        %h1 Dave Smith
        %h2.subheader Friend to all
        %blockquote I love Makers - they are a really nice bunch of chaps
        .button-row
          %p
            %a.button Read more
            %a.button Read blog

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Meet our hiring partners
      %p We’ve graduated over 300 beginners into their dream jobs as junior developers. Some were looking for a career change, others to define themselves.
    .three-width-row
      .column
        = image_tag "hiring-partners/ctm-logo.png"
        = image_tag "hiring-partners/deloitte-logo.png"
      .column
        %a.button--alt See more partners
      .column
        = image_tag "hiring-partners/springer-logo.png"
        = image_tag "hiring-partners/thoughtworks-logo.png"
