- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/topdownrow.jpg")});"}
  .container
    .centered-row
      %h1 Learn to code in 12 weeks
      %p.margin-bottom Makers Academy is Europe's leading Web Developer bootcamp. With our help, you'll learn the principles of software craftsmanship and we'll also help you get your first job. We've graduated over #{stats.number_of_graduates} students into their dream jobs as junior developers.


%section.half-slider.graduates-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h4.leader Meet
          %h2 Our Grads
          %p Our graduates come from all walks of life, and leave as trained software craftspeople. We're highly selective; a place at Makers Academy will greatly improve your chances of success in the rapidly-moving world of software engineering.
          .button-row.shift-to-bottom
            %p
              = link_to "Read Grad Stories", "/graduates.html", class: "button button--horizontal"
      .column
        = partial :"preview_graduates"

= partial :"meet_our_partners"

= partial :"splash/curriculum"

= partial :"primary_call_to_action"

%section.backgrounded
  .container
    .centered-row
      %h4.leader Start Coding
      %h2 right now!
      %p.lead Sign up for our newsletter and get your free eBook: Learn Ruby in 15 minutes.

    = partial :"email-capture", locals: { segments: "website-homepage-lr15" }

/ Analytics event for visiting homepage
:javascript
  analytics.track('Viewed homepage', {nonInteraction: 1});
