- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby In 15 Minutes
      %h4.subheader Download the guide
      %P Get a free copy of our Learn Ruby In 15 Minutes e-book by signing up to our newsletter. It's perfect for anyone that is interested in taking the plunge by learning to code. It is a good start into the Ruby language if you've never had any experience before and we've made it as easy to understand as possible.
    = partial :"email-capture"

%section.full-slider
  .slider
    .slide
      .container
        %article
          %h4.leader Learn Ruby in 15 Minutes
          %h2 Installing Ruby
          %p
            %span How to install Ruby is the first step in the book. You'd need this to get going with the rest of the tutorials.
    .slide
      .container
        %article
          %h4.leader Learn Ruby in 15 Minutes
          %h2 Methods and Variables
          %p
            %span Basic functions in Ruby are called methods and variables are holding some data for you to work with. We'll show you how to create both and get them on your screen.
    .slide
      .container
        %article
          %h4.leader Learn Ruby in 15 Minutes
          %h2 Strings and Objects
          %p
            %span Everything in Ruby is an object! You'll cover the basics of Strings and how to #{interpolate} them!
    .slide
      .container
        %article
          %h4.leader Learn Ruby in 15 Minutes
          %h2 Arrays and Hashes
          %p
            %span Looking to hold data in your methods and not use variables. The book is packed with information on Arrays and Hashes.
    .slide
      .container
        %article
          %h4.leader Learn Ruby in 15 Minutes
          %h2 Bonus Challenges
          %p
            %span We've devised some fun but informative challenges in the book too! Look out for a solutions manual to follow soon after! 

- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby In 15 Minutes
      %h4.subheader Download the guide
    = partial :"email-capture"


/ Mixpanel event for landing pages
:javascript
  mixpanel.track('Viewed Landing Page', {'Landing Page': 'Learn Ruby In 15'});
  mixpanel.people.set({'Category': 'Learn Ruby in 15'});
