- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn to code in 12 weeks
      %p.margin-bottom Makers Academy is Europe's leading Web Developer bootcamp. With our help, you'll learn the principles of software craftsmanship and we'll also help you get your first job. We've graduated over #{stats.number_of_graduates} students into their dream jobs as junior developers.
  = partial :"onsite_vs_remote_header"


= partial :"benefits_table", locals: { comparisons: :full_comparisons }

= partial :"primary_call_to_action"

/ Analytics event for visiting homepage
:javascript
  analytics.track('Full Comparison');
