- description "Check out our hiring partners."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h1 Hiring Partners
      %p We want to help you start your career as a junior developer so with our on-site careers service to realtionships with hiring partners we'll make sure to work day and night to land you your dream job.
    .button-row
      %p 
        = link_to "Looking to Hire Graduates?", "employers.html", class: "button--horizontal"

%section.article--left
  %article
    %h2.subheader Who are our Hiring Partners?
    %p Our hiring partners come in all sorts of sizes. From big corporate established companies looking to update their tech team with new blood to autonomous agencies looking to get you just making.

%section.backgrounded
  .container
    .image-grid-row
      - fetch_logos.each do | logo |
        = image_tag logo

%section.article--right
  %article
    %h2.subheader Why do they hire Makers grads?
    %p Makers Academy graduates are hired because they're passionate, driven, curious and engaging.  Due to the variety of backgrounds of our students, hiring parters like to hire from us because they know you're more than just a junior developer thanks to your succesful careers in other industries everything from corporate and start-up, whether law, marketing, graphic design or anything else: experience you will take to your new company.

%hr

= partial :"partials/employer_testimonials"

= partial :"partials/apply"
