- description "Discover payment options"
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h1 Payment Options
      %p We offer a variety of payment options for all demographics, and we offer a discount for women at our in person course. Price should never be a barrier to a student joining Makers Academy.
= partial :"benefits_table"

%section
  .container
    .centered-row
      %h2 Funding Options
      %p Need funding assistance? We've got you covered! The following organisations can provide you with loans to join our course.
    .three-width-row
      .column
        = image_tag "funding-options/pcdl.jpg", class: "image--medium"
        %h4 PCDL
        .button-row
          %p
            = link_to "Visit", "https://www.gov.uk/career-development-loans/overview", target: "_blank", class: "button button--horizontal"

      .column
        = image_tag "funding-options/edaid.jpg", class: "image--medium"
        %h4 EdAid
        .button-row
          %p
            = link_to "Visit", "https://www.edaid.com/university/makers-academy/apply", target: "_blank", class: "button button--horizontal"

      .column
        = image_tag "funding-options/future-finance.jpg", class: "image--medium"
        %h4 Future Finance
        .button-row
          %p
            = link_to "Visit", "https://makersacademy.futurefinance.com", target: "_blank", class: "button button--horizontal"
%hr
%section.small-padding-top.no-min-height
  .container
    .centered-row
      %small.loans-blurb
        *Professional and Career Development Loans are commercial bank loans that can be used to help pay for work related learning. You can borrow between £300 and £10,000 to help support the cost of up to two years of learning (or three years if it includes one year’s relevant unpaid practical work). The Government will pay the interest on the loan while you are learning and for one month afterwards. You will then need to start repaying the loan as you would any other commercial loans product. The loan can be used to pay course fees or other costs such as travel and living expenses. You can also use the loan to supplement other forms of support such as grants or bursaries.
      %small.loans-blurb
        As the Professional and Career Development Loan is a commercial loan product, you should make sure you have investigated all the funding options that may be open to you to ensure you take an informed decision about whether the Loan is right for you. For further information on financial assistance to support your learning visit
        = link_to "https://www.gov.uk/career-development-loans/overview", "https://www.gov.uk/career-development-loans/overview", target: "_blank"
        or contact the National Careers Service on 0800 100 900. Our learning provider registration number is: 21204.

%hr
%section
  .container
    .centered-row
      %h2 Payment Options
      %p We accept the following modes of payment:
    .three-width-row
      .column
        = image_tag "icons/icon-cash.jpg", class: "image--medium"
        %h4 Bank Transfer
      .column
        = image_tag "payment-options/transferwise.jpg", class: "image--medium"
        %h4 TransferWise
      .column
        = image_tag "payment-options/gocardless.jpg", class: "image--medium"
        %h4 GoCardless
= partial :"primary_call_to_action", locals: {page: :payment}
