- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/women.jpg")});"}
  .container
    .centered-row
      %h4.subheader  Makers Academy & ThoughtWorks Presents:
      %h2 Women in Tech Scholarship
      %h4.subheader  Learn to code in 12 weeks
      %p Makers Academy is Europe's leading Web Developer bootcamp. ThoughtsWorks is a community of passionate individuals whose purpose is to revolutionize software design, creation and delivery, while advocating for positive social change. Together we are offering 6 free spaces on the course for women!

= partial :"thoughtworks_scholarship_info"

%section.hero{style: "background-image: url(#{image_path("backgrounds/pointingscreen.jpg")});"}
  .container
    .centered-row
      %h2 Get a job at ThoughtWorks
      %p After completing the Makers Academy course, scholars will potentially be offered a position at ThoughtWorks. A core part of your experience as an entry-level consultant in any of our global offices is spending five weeks at ThoughtWorks University in India, with ThoughtWorkers from all over the world, discovering the values, practices and principles that have made ThoughtWorks successful. TWU is an intensive, hands-on experience, where you’ll learn how to build working software from week one. By the end of the program, you'll have real experience and a global community of support.

    .three-width-row
      .column
      .column
        .image--centered
          = image_tag "hiring-partners/twwhite.png"
      .column

= partial :"full_graduates", locals: { category: "thoughtworks" }

= partial :"apply_tw"

= partial :"email-capture"

/ Analytics for landing page
:javascript
  analytics.track('Viewed Landing Page', {'Landing Page': 'thoughtworks'});
  analytics.identify({'thoughtworks': true});
